{% extends 'base.html' %}
{% load static %}

{% block layout %}
<div class="min-h-screen bg-pale-blue-grey flex items-center justify-center font-sans">
    
    <div class="w-full h-[100dvh]  bg-white  relative flex flex-col overflow-hidden ">
        
        <header class="h-20 bg-white flex items-center justify-between px-6 shrink-0 z-10">
            <div>
                <h1 class="text-xl font-bold text-deep-teal">Koin</h1>
                <p class="text-xs text-gray-400">Jefe de Familia: {{ user.first_name }}</p>
            </div>
                        <div class="w-10 h-10 rounded-full bg-pale-blue-grey flex items-center justify-center text-deep-teal font-bold">
                {{ user.first_name|first|default:"U" }}
            </div>
        </header>

        <main class="flex-1 overflow-hidden p-6 pb-32 bg-pale-blue-grey rounded-t-3xl shadow-[inset_0px_4px_10px_rgba(0,0,0,0.02)]">
            {% block content %}
            {% endblock %}
        </main>
        <!-- ESTE ES EL DIV DEL DOCK BAR -->
        <div class="absolute bottom-6 left-1/2 -translate-x-1/2 h-16 px-6 bg-charcoal-teal rounded-3xl shadow-xl flex items-center justify-center gap-4 z-50 w-max transition-all duration-300 ease-in-out">
            
            <a href="{% url 'dashboard' %}" class="flex flex-col items-center justify-center w-12 h-12 rounded-2xl hover:bg-warm-yellow  hover:text-charcoal-teal text-white/60 hover:scale-105 transition-transform">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            </a>
            
            <a href="#" class="flex flex-col items-center justify-center w-12 h-12 hover:bg-warm-yellow rounded-2xl hover:text-charcoal-teal text-white/60 hover:scale-105 transition-colors">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3  0 003 3z"></path></svg>
            </a>

        </div>
    </div>
</div>
{% endblock %}