<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Koin{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'deep-teal': '#062F35',
                        'charcoal-teal': '#16232C',
                        'mint-green': '#AFEDD6',
                        'pale-blue-grey': '#DFE7E9',
                        'warm-yellow': '#FFC334',
                        'white': '#FFFFFF',
                    },
                    fontFamily: { sans: ['Inter', 'sans-serif'], }
                }
            }
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-deep-teal via-[#51847b] to-mint-green text-charcoal-teal antialiased min-h-screen">
    {% block layout %}{% endblock %}
</body>
</html>