{% extends 'base_dashboard.html' %}
{% load humanize %}
{% block title %}Dashboard - Koin{% endblock %}

{% block content %}
<div class="w-full max-w-4xl mx-auto space-y-6">
    
   <!--  INFORMACIÓN DEL USUARIO -->
    <div class="flex justify-between items-center py-4 ">
        <div>
            <h1 class="text-2xl font-bold text-charcoal-teal">¡Bienvenido, {{ nombre_completo }}!</h1>
            <h2>Jefe de la {{ familia }}</h2>
        </div>
    </div>

    <!-- CONTENEDOR BALANCE TOTAL -->
    <div class=" rounded-3xl p-6 text-charcoal-teal shadow-lg relative">
        <div class="flex justify-around items-center gap-8">
            <div class="flex flex-col items-center gap-4">
                <h2 class="text-koin-light text-sm font-semibold mb-1">Balance en Dolares</h2>
                {% if total_usd < 0 %}
                <p class="text-2xl font-bold text-red-500 tracking-tight">{{ total_usd|intcomma  }}$</p>
                {% else %}
                <p class="text-2xl font-bold tracking-tight">{{ total_usd|intcomma  }}$</p>
                {% endif %}
            </div>
            <div class="flex flex-col items-center gap-4">
                <h2 class="text-koin-light text-sm font-semibold mb-1">Balance Bolivares</h2>
                {% if total_ves < 0 %}
                <p class="text-2xl text-red-500 font-bold tracking-tight">{{ total_ves|intcomma  }} Bs</p>
                {% else %}
                <p class="text-2xl  font-bold tracking-tight">{{ total_ves|intcomma  }} Bs</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- SECCIÓN DINÁMICA DE CUENTAS -->
    <div>
        <h3 class="text-lg font-bold text-gray-800 mb-3">Tus Cuentas</h3>
        
        <div class="grid grid-cols-2 gap-x-4 gap-y-5">
            
            <!-- Bucle para mostrar las cuentas desde la base de datos (Máximo 3 según tu view) -->
            {% for cuenta in cuentas %}
            <div style="background-color: {{ cuenta.color_cuenta }};" class="rounded-2xl p-4 flex flex-col min-h-[90px] shadow-lg ">
                <div  class="flex content-center items-center gap-2">
                    <div class=" bg-white rounded-full w-3 h-3 text-white"></div>
                    <span class="text-charcoal-teal invert font-bold text-center">{{ cuenta.nombre_cuenta }}</span>
                </div>
                <div class="mt-2 text-right">
                    <span class="text-lg font-bold invert text-deep-teal">{{ cuenta.saldo_inicial_cuenta }}</span>
                    <span class="text-xs  font-bold invert ml-1">{{ cuenta.moneda }}</span>
                </div>
            </div>
            {% empty %}
            <!-- Mensaje si no hay cuentas registradas -->
            <div class="col-span-2 text-center py-6 bg-white rounded-2xl border border-dashed border-gray-300">
                <p class="text-sm text-gray-500 mb-2">Aún no tienes cuentas registradas.</p>
                <a href="{% url 'cuentas' %}" class="text-deep-teal font-bold hover:underline">Ir a Cuentas para empezar</a>
            </div>
            {% endfor %}

            <!-- Botón de "Ver más" (Solo aparece si hay al menos 1 cuenta) -->
            {% if total_cuentas == 1 %}
            <a href="{% url 'cuentas' %}" class="flex flex-col items-start justify-end min-h-[90px] ">
                <span class=" text-charcoal-teal font-medium text-center text-sm">Ver todas mis cuentas</span>
            </a>
            {% elif total_cuentas == 2 %}
            <a href="{% url 'cuentas' %}" class="flex flex-col items-start min-h-[90px] ml-2">
                <span class=" text-charcoal-teal font-medium text-center text-sm">Ver todas mis cuentas</span>
            </a>
            {% else %}
            <a href="{% url 'cuentas' %}" class="flex flex-col justify-center items-center min-h-[90px] ">
                <span class=" text-charcoal-teal font-medium text-center text-sm">Ver todas mis cuentas</span>
            </a>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}